body {
  background-image: url("covid-19-virus.jpg");
  background-size: contain;
  background-color: #000;
  background-repeat: no-repeat;
  color: #fff;
}
table {
  font-size: 12px;
}
#plotCases {
  margin-bottom: 15px;
}
#plotDeaths {
  margin-bottom: 15px;
}
#plotDailyCases {
  margin-bottom: 15px;
}
#plotDailyDeaths {
  margin-bottom: 15px;
}
#plotTopTenHotspots {
  margin-bottom: 15px;
}
#plotNationalCases {
  margin-bottom: 15px;
}
#visualizeIt {
  margin-bottom: 15px;
}
#infoNR{
  margin-top: 0;
  margin-bottom: 15px;
}
#info_g_df_1{
  margin-top: 0;
  margin-bottom: 15px;
}
#info_g_df_2{
  margin-top: 0;
  margin-bottom: 15px;
}
#info_g_df_3{
  margin-top: 0;
  margin-bottom: 15px;
}
#info_g_df_4{
  margin-top: 0;
  margin-bottom: 15px;
}
.dropdown-menu{
  background-color:#333;
}