body {
  background-image: url("covid-19-virus.jpg");
  background-size: contain;
  background-color: #000;
  background-repeat: no-repeat;
  color: #fff;
}
table {
  font-size: 12px;
}
#plotCases {
  margin-bottom: 15px;
}
#plotDeaths {
  margin-bottom: 15px;
}
#plotDailyCases {
  margin-bottom: 15px;
}
#plotDailyDeaths {
  margin-bottom: 15px;
}
#plotNationalCases {
  margin-bottom: 15px;
}
#visualizeIt {
  margin-bottom: 15px;
}